
.header__inner {
    padding: 13px 0;
    background: #F8F8F8;
    position: relative;
}

.header.custom .header__inner {
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
}

.header__logo {

    a {
        display: block;
    }

    img {
        height: 54px;
        background-size: cover;
    }
}

.header__nav {
    margin-left: 76px;

    ul {
        display: flex;
        align-items: center;

        li {
            &+li {
                margin-left: 32px;
            }
        }

        a {
            color: var(--black, #1F2933);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            transition: .3s;
            position: relative;
            padding-bottom: 3px;

            &:after {
                content: '';
                width: 0%;
                transition: .4s;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 50%;
                background-color: #3E4C59;
            }

            &:hover {
                &:after {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}

.header__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__phone {
    a {
        color: #4D4D4D;
        text-align: center;
        margin-right: 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        transition: .3s;

        &:hover {
            filter: brightness(150%);
        }
    }
}

.header__btn {
    a {
        color: #3E4C59;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        text-transform: uppercase;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px 45px;
        border-radius: 10px;
        border: 2px solid var(--gray-80, #3E4C59);
        transition: .3s ease-in-out;

        &:hover {
            background-color: rgba(#3E4C59, .2);
        }
    }
}

button.burger {
    display: none;
}

.header__mobile {
    display: none;
}

//  ---=== ADAPTIVE ===--- //

@media (max-width:991.8px) {
    .header__mobile {
        display: block;
        margin-top: 50px;

        .header__phone a {
            margin: 0;
        }

        .header__btn {
            margin-top: 50px;
        }
    }

    .header__nav {
        position: fixed;
        z-index: 9;
        padding: 35px;
        margin: 0;
        top: 120px;
        right: 0;
        width: 40%;
        transform: translateX(100%);
        transition: transform .5s, opacity .3s .3s;
        opacity: 0;
        height: 100vh;
        background-color: #f2f2f2;

        ul {
            display: block;

            li+li {
                margin: 30px 0 0;
            }
        }

        &.active {
            transform: translateX(0%);
            opacity: 1;
            transition: .5s;
        }
    }

    .header__info {
        display: none;
    }

    button.burger {
        display: inline-block;
        width: 35px;
        height: 23px;
        border: none;
        background: transparent;
        position: relative;
        cursor: pointer;
        padding: 0;
        margin: 0 0 0 auto;

        &:focus {
            outline: none;
        }

        //  Menu Burger 2
        &.burger2 {

            &:after,
            &:before,
            span {
                width: 100%;
                height: 3px;
                border-radius: 100px;
                position: absolute;
                display: block;
                background: #3E4C59;
                right: 0;

            }

            &:after,
            &:before {
                content: "";
                transition: 0.3s width 0.4s;
            }

            &:after {
                top: 0px;
                left: 0px;
                margin-top: 0px;
            }

            &:before {
                bottom: 0px;
                right: 0px;
                margin-bottom: 0px;
            }

            span {
                top: 50%;
                margin-top: -2px;
                transition: transform 0.3s;

                &:before {
                    content: "";
                    background: #3E4C59;
                    width: 100%;
                    height: 3px;
                    border-radius: 100px;
                    position: absolute;
                    left: 0px;
                    transition: transform 0.3s;
                }
            }

            &.on {


                &:after {
                    transition: all 0.2s;
                    width: 0%;
                    left: 0px;
                }

                &:before {
                    transition: all 0.2s;
                    width: 0%;
                    right: 0px;
                }

                span {
                    transform: rotate(45deg);
                    transition: 0.3s transform 0.4s;

                    &:before {
                        transform: rotate(-90deg);
                        transition: 0.3s transform 0.4s;
                    }
                }


            }
        }
    }
}

@media (max-width:767.8px) {
    .header__nav {
        width: 60%;
    }
}

@media (max-width:575.8px) {
    .header__nav {
        width: 100%;
    }
}